@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&family=Roboto:wght@100;300;400;700&display=swap');
*{
    font-family : 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    scroll-behavior: smooth;
}

.nav-link{
    color: #2b2b2b !important;
    font-weight: 600;
    font-size: 15px;
}
.nav-link:hover{
    color: #0BE6C1 !important;
}
.active{
    color: #0BE6C1 !important;
}

.navbar-toggler:hover{
    border: 1px solid #0BE6C1 !important;
    transform: scale(0.98);
}
#navbar-collapse-toggle{
    text-align: center;
}

section{
    margin-top: 30px;
    margin-bottom: 50px;
}
.pro_pic{
    width: 90%;
    border-radius: 5px;
    box-shadow: 5px 5px 4px #00000020;
}
.greeting{
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 20px;
}
.contact-icon{
    margin: 0px 15px 0px 5px;
    color: #2b2b2b !important;
}
.contact-icon:hover{
    color: #0BE6C1 !important;
}

.work-title{
    font-weight: bold;
}
.project-title{
    width: 48%;
    padding: 0px;
    margin-bottom: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-title:hover{
    transform: scale(0.98);
    transition: 0.5s;
}
.pj_demo_title{
    font-weight: bold;
    font-size: 35px;
}
.pj_demo_label{
    font-weight: 600;
}

.contact-icon-footer{
    margin: 0px 15px;
    color: #fff !important;
    padding: 0;
}
.contact-icon-footer:hover{
    color: #2b2b2b !important;
} 

.project_section .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.work_img{
    text-align: center;
    margin: 30px 0px;
}

small{
    font-size: 15px;
    color: #0BE6C1;
}


@media screen and (max-width: 992px){
    .work_align{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
    .project-title{
        width: 80% !important;
    }
    .img_md_reverse{
        display: flex !important;
        align-items: center !important;
        flex-direction: column-reverse !important;
    }
    .text_md_align{
        flex-direction: column !important;
    }
}

@media screen and (max-width: 768px){
    .pro_pic{
        width: 50% !important;
    }
    .card_align{
        text-align: center !important;
        margin-bottom: 50px !important;
    }
    #work{
        margin: 40px 0px !important;
    }
}

@media screen and (max-width: 400px){
    .pj_demo_title{
        font-size: 25px !important;
    }
    .pj_demo_label{
        font-size: 15px !important;
    }
    .title_size{
        font-size: 22px !important;
    }
    .body_size{
        font-size: 13px !important;
    }
}

